<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'app/css/styles.css' %} " />
    <style>
      h1 {
        {% comment %} color: red; {% endcomment %}
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1 class="head text-5xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur a, porro
      ut consequatur accusantium maxime eius tempora quisquam? Earum, sunt!
    </h1>
  </body>
</html>
